header .jumbotron {
    margin: 0;
}

header + nav {
    background-color: black;
}

header+nav .container {
    width: 100%;
}

header+nav .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(255, 255, 255, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/></svg>")
}

header + nav .nav-link {
    font-weight: 500;
    color: white;
    transition: background-color 500ms, color 500ms;
}

header + nav .nav-link:hover {
    color: black;
    background-color: white;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#shoppingcartsummary {
    color: #9d9d9d;
    padding: 5px 0;
}