@model TicketDominator.Models.ShoppingCartSummary

@if (Model != null && Model.Quantity > 0)
{
    <div>Items in Cart: @Model.Quantity</div>
    <div>Value: @Model.TotalValue.ToString("C")</div>
}
else
{
    <div>Your cart is empty</div>
}
