@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "d-flex flex-column flex-md-row text-center" }))
    {
        @Html.AntiForgeryToken()
        @Html.ActionLink("Account", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Account", @class = "nav-item nav-link px-3" })
        <a href="javascript:document.getElementById('logoutForm').submit()" class="nav-item nav-link px-3">Log off</a>
    }
}
else
{
    @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class= "nav-item nav-link px-3" })
    @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class= "nav-item nav-link px-3" })
}
